@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

/*
1. 최상위에 있는 박스부터 레이아웃을 배치
2. 그 안의 내용들을 세부적으로 꾸며준다. 
*/
body
{
    padding: 1px;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a {
    text-decoration: none;
    color: white;
}
.navbar{
    
    display: flex;
    position: relative;
    /* 가로 방향으로 배치, 내용물의 with만큼만 차지. 
    height는 컨테이너의 높이만큼 늘어난다.(컬럼 레이아웃을 만들 때 편리.
    https://studiomeal.com/archives/197 제대로 공부하기.*/
    justify-content: space-between; /*selfcook과 페이스북, 인스타 모양을 양 끝으로 보냄.*/
    align-items: center; /*위, 아래 기준으로 중앙에 위치시킨다.*/
    background-color: 	#9ACD32;
    padding: 0px 10px; /*위아래, 양 옆 간격을 조정.*/
    
}
.navbar_logo{
    padding: 10px;
    font-size: 24px;
    color: white;
}
.navbar_logo i {
    color: 	#EEE8AA;
}
/* 메뉴 꾸미기 */
.navbar_menu{
    display: flex;
    list-style: none;
    padding-left: 0;
}
.navbar_menu li{
    padding: 20px 20px;
    transition: all 2s;
    font-size: 20px;
}
.navbar_menu li:hover:not(.action){
    position: relative;
    color: white;
    text-transform: uppercase;
}
.navbar_menu li:hover{
    position: relative;
    background-color: #FAFAD2;
    border-radius: 5px;
    color: white;
}
.navbar_icons{
    list-style: none;
    color: white;
    display: flex;
    padding-left: 0;
    font-size: 20px;
}
.navbar_icons li{
    padding: 8px 12px;
    list-style: none;
}
/* 검색 창 css*/
.search-box{
    padding: 10px;
    position: absolute; /*위치는 수평(위, 아래 중간)*/
    top: 2%; /*페이지 위에서 22%*/
    left: 70%; /*페이지 왼쪽 기준으로 30%*/
    transform: translate(-50%,-50%); /* 요소의 표시 위치를 이동 (x축, y축)*/
    height: 30px;
    background-color: #fff;
    border: 1px solid #9ACD32;
    border-radius: 30px;
    transition: 0.4s;
    width:30px;
  }
  .search-box:hover{
    box-shadow: 0px 0px .5px 1px #9ACD32;
    width: 282px; /* 마우스를 가져다 대면 좌우로 282px만큼 늘어남.*/
  }
  .search-btn{
    text-decoration: none;
    float: right;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center; /* 버튼을 좌, 우 방향 정렬 */
    align-items: center; /* 수직축(위, 아래) 방향 정렬 */
    color: #51e3d4;
  }
  .search-box:hover .search-btn{
    background-color: #fff;
  }
  .search-txt{
    display: flex;
    padding: 0;
    width: 0px;
    border:none;
    background: none;
    outline: none;
    float: left;
    font-size: 1rem;
    line-height: 30px;
    transition: .4s;
  }
  .search-box:hover .search-txt{
    width: 240px;
    padding: 0 6px;
  }
  .poster{
    width: 300px;
    height: 300px;
    background-color: red;
}
  /*여기까지*/
  /*슬라이드 Css*/
  .container
  {
    width : 300vw;
    transition: transform 0.6s;
  }
  .inner
  {
      width: 100vw;
      float: left;
  }
  .inner img
  {
      position: relative;
      left: 430px; /* padding을 주면 검색창 범위랑 겹쳐서 검색창 hover버튼이 실행이 안된다. */
      top: 80px;
      width : 400px; 
      height: 320px;
      border-radius: 10px;
  }
  .slide_button
  {
      cursor: pointer;
      position: absolute;
      width: 30%;
      top: 270px;
      left: 47%;
      padding-left: 12%;
      opacity: 0.7;
  }
  .버튼1, .버튼2, .버튼3
  {
    cursor: pointer;
    height: 15px;
    width: 5%;
    margin: 0 2px;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    transition: all 0.7s ease 0s;
  }
.cook1
{
    position: relative;
    float: left;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: all 0.7s ease 0s;
    padding: 10px;
    margin-top: 100px;
    left: 80px;
}
.cook2
{
    position: relative;
    float: left;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: all 0.7s ease 0s;
    margin-top: 100px;
    left: 100px;
}
.cook3
{
    position: relative;
    float: left;
    margin-top: 100;
    left: 120px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: all 0.7s ease 0s;
}
.cook4
{
    position: relative;
    margin-top: 100px;
    left: 150px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: all 0.7s ease 0s;
}
.cook5
{
    position: relative;
    margin-top: 70;
    left: -130px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: all 0.7s ease 0s;
    float: left;
}
.cook6
{
    position: relative;
    margin-top: 60;
    left: -100px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: all 0.7s ease 0s;
    float: left;
}
.cook7
{
    position: relative;
    margin-top: 50px;
    left: -80px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: all 0.7s ease 0s;
    float: left;
}
.cook8
{
    position: relative;
    margin-top: -200px;
    left: 160px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: all 0.7s ease 0s;
}

.popular_recipe
{
    position: relative;
    padding: 10;
    top: 80px;
    left: 60px;
    width: 300px;
    height: 300px;
    border:1px solid darkkhaki;
}
.easy_cooking
{
    position: relative;
    padding: 10;
    top: 130px;
    left: 60px;
    width: 300px;
    height: 300px;
    border:1px solid darkkhaki;
}
.popular
{
    position: relative;
    font-size: 10px;
    top: 150px;
    padding: 10;
    left: 60px;
    width: 180px;
    border:1px solid darkkhaki;
}
footer
{
    position: relative;
    background-color: #9ACD32;
}
footer p
{
    position: relative;
    color: white;
    top: 30px;
    margin-left: 30px;
}
footer .navbar_icons2
{
    position: relative;
    font-size: 25px;
    margin: 10px;
    width: 30px;
    height: 30px;
    color: white;
    margin-left: 92%;
}
footer .navbar_icons2 li
{
    position: relative;
    list-style: none;
    top: 12px;
    padding: 10px;
}


